@page {
    margin: 5mm;
}

@media print {
  body.printing-scan-sticker > *:not(#scan-confirm-sticker-print) {
    display: none !important;
  }

  body.printing-scan-sticker #scan-confirm-sticker-print {
    display: block !important;
  }
}